.top-page-header{
  width: 100vw;
  height: 15vh;
  padding: 3vh 5vw;
  padding-bottom: 10vh;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-bottom: rgb(43, 42, 42) 1px solid;
}

.dodo-icon{
  height: 60px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {

  margin-left: 16px;
}

.header-user-item{
  display: flex;
  align-items: center;
  padding: 0.4em 0;
  margin: 0 0 20px 0;
  font-size: 0.8rem;
  user-select: none;
  border: 5px #d7f0f7 solid;
  border-radius: 100px;
  transition: 0.4s ease;
  width: auto;
}

.logo {
  width: 200px;
  height: 60px;
}

.header-avatar {
  width: 46px;
  height: 46px;
  cursor: pointer;
  border-radius: 50%;
  margin: auto;
}

.form2 {
  position: relative;
}

.form2-input {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  padding: 0 8px 0 30px;
  margin: 5px 0;
  font-size: 12px;
  color: #333;
  border: solid 1px rgb(184, 184, 184);
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.form2-input:focus {
  border: 1px solid #00b5ad;
}

.form2-button {
  position: absolute;
  top: 0;
  left: 4px;
  box-sizing: content-box;
  width: 30px;
  height: 38px;
  padding: 0;
  font-size: 16px;
  vertical-align: vertical-align;
  pointer-events: none;
  background: inherit;
  border: 0;
  opacity: 0.54;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: right;
  padding: 80px 0 2% 0;
}


.user-nickname {
  text-decoration: none;
  padding-left: 10px;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  margin-right: 20vw;
  color: #333333;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8rem;
  user-select: none;
  border: 1px #333333 solid;
  border-radius: 20px;
  transition: 0.4s ease;
  padding: 10px 0 10px 30px;
  margin: 0 0 28px 30px;
  width: 7vw;
}

.logout:hover{
  color: #fff;
  background: #00b5ad;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8rem;
  user-select: none;
  border: 1px #333333 solid;
  border-radius: 20px;
  transition: 0.4s ease;
  padding: 10px 30px;
  margin: 0 30px 28px  0;
}

.login:hover{
  color: #fff;
  background: #00b5ad;
}

.sign-up {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8rem;
  user-select: none;
  border: 1px #333333 solid;
  border-radius: 20px;
  transition: 0.4s ease;
  padding: 10px 30px;
  margin: 0 30px 28px 30px;
}

.sign-up:hover{
  color: #fff;
  background: #00b5ad;
}